.header-text{
    position: relative;
    width: 64px;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    justify-content: center;
    /* display: flex; */
    align-items: center;
    /* text-align: center; */

    color: #C96310;
}